
<div id="info">
    <h1>"la" buffered haikus</h1>

    <p>This short project is a few experiments based on a prompt to create a application to create haikus from user input</p>

    <p>I started with the angular-seed project as a basis for the application, to get up and running quickly, I then sketched a solution for parsing user input on paper. It's basically:</p>

    <ol><li>Determine the character for the delineation of the words in the list (expecting common ones like line-breaks, commas, pipes...)</li><li>Determine the character for the separation of the syllables (expecting one of the standardized ones like hyphen, interpunct, hyphenation point...)</li><li>Create list of words with their number of syllables (e.g. {word: 'hello', syllables:2}</li><li>Generate lines based on this data, randomly filling a line with words that will fit until it's full</li></ol>

    <p>Some assumptions:</p>

    <ol><li>It's ok to repeat words from the list</li><li>There will be at least one word provided in the list</li><li>The list will conform to the word and syllable delineation schemes above</li><li>In the case of a list of words all too large for a given line, that line will be buffered with (presumably musical) "la"s.</li><li>Will not convert numbers</li></ol>

    <p>-C G Gillotti</p>

    <h2>User Input Section</h2>

    <p>This is where a user can put in their words and generate haikus.</p>

    <h2>Simple Dictionary Section</h2>

    <p>I actually started this project with this, a section for generating from a canned list of {word: "word", syllableCount:1}</p>

    <p>This helped me feel out implementing the screen, and gave me a good first run of making and displaying haikus</p>

    <h2>Processed Dictionary Section</h2>

    <p>I was having some more fun here. I downloaded a JSON formatted list of words and ran them through a node application that parses syllables</p>
    <p>The node application is under the data directory and requires the use of the <a href="https://www.npmjs.com/package/syllable" target="_blank" >Syllable</a> library by Titus Wormer </p>

    <p>I use that generated dictionary instead of the canned on in "Simple"</p>

    <p>Slightly more complex, and it gave me a reason to experiment with moving the haiku display to its own directive</p>
</div>