<div >
<h1>Haiku</h1>
   <p>All from your input</p>
    <p>Enter words, syllables marked</p>
    <p>Then  hit the button</p>
    <br/>
    <p>You and use line-breaks, commas, pipes or semi-colons to separate words</p>
<textarea ng-model="userInput" name="userInput" required class="userInput" cols="75" ng-maxlength="20000"  ></textarea>


<haiku-Display generate="GenerateLine(length)" ></haiku-Display>

</div>