<p>First line syllables: <input type="number" ng-minlength="1" ng-maxlength="8"  ng-model="firstLineLength"></p>
<p>Second line syllables: <input type="number" ng-minlength="1" ng-maxlength="8"  ng-model="secondLineLength"></p>
<p>Third line syllables: <input type="number" ng-minlength="1" ng-maxlength="8"  ng-model="thirdLineLength"></p>
<div class="haikuContainer" ng-show="hasPoem">
<p ng-bind="firstLine | poemCasing"></p><p ng-bind="secondLine | poemCasing"></p><p ng-bind="thirdLine | poemCasing"></p>
</div>
<button ng-click="getHaiku()">Generate Haiku</button>